# Define the mapping for PR opened
# Doc:  https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Info: Order is important; the last matching pattern takes the most precedence.
# For MD file is Ricardo
# Dominique cannot be set because he does not have write access on the repo
*.md  @riramar
